
.login-wrapper {
    background-image: url("https://wallpaperaccess.com/full/3124541.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Background color */
  }
  
  .login {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit_btn {
    background-color: #007bff; /* Submit button background color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit_btn:hover {
    background-color: #0056b3; /* Submit button background color on hover */
  }
  
  .motivational-quote {
    font-style: italic;
    margin-top: 20px;
    font-size: 14px;
    color: #888;
  }
  
  .btn2{
    margin-left: 55%;
  }